html {
    font-family: 'Goldman', cursive;
}

.wrapper {
    overflow: hidden;
    margin-top: 100px;
    margin-left: 20px;
}

.coffeeType { 
    grid-area: Ð¡offeType;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}


.counter__btn {
    width: 50%;
    min-width: 140px;
    background: #222;
    height: 35px;
    border: none;
    color: #eee;
    font-size: 21px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

input {
    outline: none; border: none;
    background-color: rgba(0,0,0,0);
    padding-right: -10px;
}

.grid-container:first-child{
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.9fr 0.8fr;
    grid-template-rows: 0.9fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". coffee amount ."
      ". plus minus ."
      ". . . .";
}
.coffeeType { 
    width: 100%;
      grid-area: coffee;
      display: flex;
      padding-left: 30px;
      justify-content: start;
}
.doneCoffee { 
    box-sizing: content-box;
      grid-area: amount;
      display: flex;
      font-size: 25px;
}

.addCoffee {
     grid-area: plus;
     margin-right: 10px;
 }
.deleteCoffee { 
    grid-area: minus;
    display: flex;
    justify-content: flex-start;
}


/* @media(max-width: 450px) {
    .grid-container {
        margin-left: 150px;
    }
}
 */
 .line{
    display:block;
    width:100%;
    border-top: 1px solid black
 }